[submodule "personal-wiki"]
	path = personal-wiki
	url = https://github.com/yanapang/personal-wiki.git
	branch = main

[submodule "work-wiki"]
	path = work-wiki
	url = https://github.com/yanapang/work-wiki.git
	branch = main

[submodule "lifeos-template"]
	path = lifeos-template
	url = https://github.com/yanapang/lifeos-template.git
	branch = main
