[submodule "personal-wiki"]
	path = personal-wiki
	url = git@github.com:yanapang/personal-wiki.git
	branch = main

[submodule "work-wiki"]
	path = work-wiki
	url = git@github.com:yanapang/work-wiki.git
	branch = main
